<%= form_with(model: house, local: true, class: 'ui form') do |form| %>
  <% if house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(house.errors.count, "error") %> prohibited this house from being saved:</h2>

      <ul>
      <% house.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render partial: 'homes/form', locals: {f: form} %>

  <div class="field">
    <%= form.label :rooms %>
    <%= form.number_field :rooms %>
  </div>

  <div class="field">
    <%= form.label :floors %>
    <%= form.number_field :floors %>
  </div>

  <div class="field">
    <%= form.label :air_cond %>
    <%= form.check_box :air_cond %>
  </div>

  <div class="actions">
    <%= form.submit class: 'ui button secondary' %>
  </div>
<% end %>
