<!DOCTYPE html>
<html>
  <head>
    <title>RealEstate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'shared/header' %>
    <% if notice%>
      <div class="ui container">
        <div class="ui success message">
          <i class="close icon"></i>
          <div class="header">
            <%= notice %>
          </div>
        </div>
      </div>
    <% end %>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
